stages:
  - build_and_push
  - deploy

variables:
  FRONTEND_IMAGE_TAG: "$CI_REGISTRY_IMAGE:latest"

build_and_push_frontend:
  stage: build_and_push
  image: docker:28
  services:
    - docker:28-dind
  script:
    - echo "$CI_DEPLOY_TOKEN" | docker login -u "$CI_DEPLOY_USER" --password-stdin "$CI_REGISTRY"
    - docker pull "$FRONTEND_IMAGE_TAG" || true
    
    - |
      docker build \
        --cache-from "$FRONTEND_IMAGE_TAG" \
        --build-arg NEXT_PUBLIC_FIREBASE_API_KEY=$NEXT_PUBLIC_FIREBASE_API_KEY \
        --build-arg NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=$NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN \
        --build-arg NEXT_PUBLIC_FIREBASE_PROJECT_ID=$NEXT_PUBLIC_FIREBASE_PROJECT_ID \
        --build-arg NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=$NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET \
        --build-arg NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=$NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID \
        --build-arg NEXT_PUBLIC_FIREBASE_APP_ID=$NEXT_PUBLIC_FIREBASE_APP_ID \
        -t "$FRONTEND_IMAGE_TAG" .

    - docker push "$FRONTEND_IMAGE_TAG"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

deploy_frontend:
  stage: deploy
  tags:
    - vps-deployer
  script:
    - echo "$CI_DEPLOY_TOKEN" | docker login -u "$CI_DEPLOY_USER" --password-stdin "$CI_REGISTRY"
    - cd /srv/cahayamu
    - docker compose pull frontend
    - docker compose up -d frontend
  rules:
    - if: $CI_COMMIT_BRANCH == "main"